@charset "UTF-8";

/*

Breakpoints

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV

*/

/*_____________ Small screens, laptops ______________*/

@media screen and (min-width: 768px) and (max-width: 1000px) {
    
    /*__________ Main > Section > div _____________*/

    main{
        width: 90vw;

    }
    main > section > div#img{
        float: left;
        
        width: 30%;
        height: 550px;

        
    }
    main > section > div#mensagem{
        float:right;

        font-size: 1.1em;

        width: 65%;
    }

}

/*_____________ Desktops, large screens ______________*/

@media screen and (min-width: 1000px){
    main{
        width: 990px;

    }
    main > section > div#img{
        float: right;
        
        width: 40%;
        height: 550px;

        
    }
    main > section > div#mensagem{
        float:left;

        font-size: 1.1em;

        width: 59%;
    }
}

/*_____________ Extra large screens, TV ______________*/