@charset "UTF-8";

/*__________ Global _____________*/

*{
    margin: 0px;
    padding: 0px;

    --font: font-family: 'Times New Roman', Times, serif;

    --cor01: #49a09d;
    --cor02: #5f2c82;

    box-sizing: border-box;
}

/*_______________HTML, body, main ____________*/

html, body{
    background-color: var(--cor02);

    width: 100vw;
    height: 100vh;

}

main{
    position: relative;

    width: 100vw;
    height: 100vh;
}

/*__________ section _____________*/

section{
    background-color: white;
    
    position: absolute;
    display: block;

    width: 300px;
    height: 550px;
    
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #183433cb;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;


}

/*__________ Main > Section _____________*/


/*__________ Main > Section > div _____________*/

main > section > div#img{
    display: block;
    background-image: url('../img/metal.jpg');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;

    height: 250px;

}

main > section > div#mensagem{
    display: block;
    margin: auto;
}
main > section > div#mensagem > h1{
       text-align: center;
       margin-bottom: 10px;
}

main > section > div#mensagem > p{
    text-align: center;
    line-height: 1.2em;
}


/*______ Main > Section > div > Form ________*/


/*_ Main > Section > div > Form (Email e senha)_*/

div.campo{
    background-color: var(--cor02);

    width: 90%;
    height: 40px;
    margin: auto;

    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid black;

    overflow: hidden;
}

main > section > div > form > div.campo > i{
    width: 40px;
    padding: 5px 0px;

    font-size: 2em;
    color: white;
}

main > section > div > form > div.campo > input{
    background-color: #e1f0f0;
    
    padding: 5px;
    border-radius: 10px;
    
    width: calc(100% - 45px);
    height: 98%;

    font-size: 1em;
    text-align: center;

    transform: translateY(-13px);
}

main > section > div > form > div.campo > input:focus-within{
    background-color: white;
}

main > section > div > form > div.campo > label{
    display: none;
}

/* Main > Section > div > Form (Enviar e recsenha)*/

main > section > div#mensagem > form > div.botoes > input[type=submit]{
    background-color: var(--cor01);
    
    border: 1px solid black;
    width: 90%;
    margin: auto;
    padding: 5px;
    
    border-radius: 10px;
    display:block;
    
    font-size: 1em;
    font-family: var(--font);
    color: white;
}
/*usando caminho mais simples*/
 div.botoes input[type=submit]:hover{
    background-color: #49a09ddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.334);
}

main > section > div#mensagem > form > div.botoes > a{
    background-color: #68dfdd;
    
    box-sizing: border-box;
    border: 1px solid black;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    
    border-radius: 10px;
    display:block;
    
    font-size: 1em;

    text-decoration: none;
    text-align: center;
    color: black;
}
/*usando caminho mais simples*/
div.botoes a:hover{
    background-color: #68dfdda5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.334);
}
