@charset "UTF-8";

/*__________Global_______________*/

*{
    margin: 0px;
    padding: 0px;

    --back: url('../imagens/background.jpg');

    --cor00: #434254;
    --cor01: #B9B0DD;
    --cor02: #d3c3d0;
    --cor03: #7298c6;

    font-family: Arial, Helvetica, sans-serif;
}

/*____________body___________________*/

body{
    background-image: var(--back);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 500px;
    margin: auto;
}

/*____________main___________________*/

header{
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor03));
}

main{
    background-image: linear-gradient(to top, var(--cor02), var(--cor03));
    padding: 10px;
}

main p{
    font-weight: bold;
    line-height: 2em;
}

input, select, textarea{
    margin-top: 5px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
}

.enviar{
    text-align: center;
}

